<div class='member function' id='<%= encodeURIComponent(kebabCase(func.name)) %>' <% if (isPrivate(func)) { %>data-private-member=true<% } %>>
  <div class="member-details">
    <h3 class='member-title'>
      <a href="#<%= encodeURIComponent(kebabCase(func.name)) %>" class="member-self-link"><%= func.name %><%= signatureFor(func) %></a>
      <span class="type"><%- include('/type', { type: func.signatures[0].type }) %></span>
    </h3>
    <%- include('/defined-in-link', { item: func }) %>

    <div class="member-body">
      <%- include('/overview', { item: func }) %>

      <% if (func.signatures[0].parameters) { %>
        <div class='member-header'>Parameters</div>
        <div class='params'>
          <% (func.signatures[0].parameters || []).forEach((parameter) => { %>
            <div class='param'>
              <span class='param-name'><%= parameter.name %></span><span class='param-type type'><%- include('/type', { type: parameter.type }) %></span>
              <%- include('/overview', { item: parameter }) %>
            </div>
          <% }) %>
        </div>
      <% } %>

      <div class='member-header'>Returns</div>
      <div class='return'>
        <span class='return-type type'><%- include('/type', { type: func.signatures[0].type }) %></span>
        <% if (func.signatures[0].comment && func.signatures[0].comment.returns) { %>
          <span class="return-description">
            <%= func.signatures[0].comment.returns %>
          </span>
        <% } %>
      </div>

      <a class='improve' target='_blank' href='https://github.com/<%= repo %>/edit/<%= version.ref %>/<%= sourceFile(func) %>#L<%= sourceLine(func) %>'>
        improve this documentation
      </a>

    </div>
  </div>
  <div class="member-tags">
    <%- include('/deprecated-tag', { item: func }) %>
    <%- include('/private-tag', { item: func }) %>
    <%- include('/inherited-tag', { item: func }) %>
  </div>
</div>