<div class='item function' id='<%= encodeURIComponent(func.name) %>' <% if (hasTag(func, 'since')) { %>data-private-member=true<% } %>>
  <h3 class='item-title'>
    <div class='item-descriptor'>
      <%= func.name %><span class='param-paren'>(</span><span class='params'><% (func.params || []).forEach((param) => { %><span class='param'><span class='param-name'><%= param.name %></span><span class='param-type type'>:<%= param.type %></span></span><% }) %></span><span class='param-paren'>)</span>
      <%- include('/private-tag', { item: func }) %>
      <%- include('/defined-in-link', { item: func }) %>
    </div>
  </h3>
  <div class='item-body'>
    <div class='item-header'>Description</div>
    <%- include('/description', { item: func }) %>

    <div class='item-header'>Parameters</div>
    <div class='params'>
      <% (func.signatures[0].parameters || []).forEach((parameter) => { %>
        <div class='param'>
          <div class='param-name'><%= parameter.name %></div><div class='param-type type'>:<%- include('/type', { type: parameter.type }) %></div>
          <%- include('/description', { item: parameter }) %>
        </div>
      <% }) %>
    </div>

    <div class='item-header'>Returns</div>
    <div class='return'>
      <div class='return-type type'><%- include('/type', { type: func.signatures[0].type }) %></div>
    </div>
    <div class='improve'>
      <a target='_blank' href='https://github.com/<%= repo %>/edit/<%= version.ref %>/<%= sourceFile(func) %>#L<%= sourceLine(func) %>'>
        Improve this documentation
      </a>
    </div>
  </div>
</div>