<div class='summary'>
  <div class='summary-section'>
    <div class='summary-header'>Methods</div>
    <% parent.children.forEach((item) => { %>
      <% if (item.kindString === 'Method') { %>
        <a class='summary-link' <% if (!hasTag(item, 'since')) { %> data-private-member=true <% } %> href='<%= version.name %>/api/<%= parent.package %>/<%= parent.name %>/#<%= encodeURIComponent(item.name) %>'><%= item.name %></a>
      <% } %>
    <% }) %>
  </div>
  <div class='summary-section'>
    <div class='summary-header'>Properties</div>
    <% parent.children.forEach((item) => { %>
      <% if (item.kindString === 'Property') { %>
        <a class='summary-link' <% if (!hasTag(item, 'since')) { %> data-private-member=true <% } %> href='<%= version.name %>/api/<%= parent.package %>/<%= parent.name %>/#<%= encodeURIComponent(item.name) %>'><%= item.name %></a>
      <% } %>
    <% }) %>
  </div>
</div>