<div class="defined-in">
  <a href='https://github.com/<%= repo %>/blob/<%= version.ref %>/<%= sourceFile(item) %>#L<%= sourceLine(item) %>'>
    <span class='filename'><%= sourceFile(item) %></span>
    <span class='line'>line <%= sourceLine(item) %></span>
  </a>
</div>