<a class='defined-in' href='https://github.com/<%= repo %>/blob/<%= version.ref %>/<%= sourceFile(item) %>#L<%= sourceLine(item) %>'>
  <span class='filename'>Defined in: <%= sourceFile(item) %></span>
  <span class='line'>Line: <%= sourceLine(item) %></span>
</a>
