<header>
  <h1 class='project-name'>
    <a href=''>{{project.name}}</a>
  </h1>
  <p class='project-description'>{{project.description}}</p>

  <nav>

    <!-- Project Repo Link -->
    {{#if project.repository}}
      <a href='https://github.com/{{project.repository}}' class='nav-link repo-link'>View on Github ({{project.repository}})</a>
    {{/if}}

    <!-- Pages -->
    {{#if pages}}
      <div class='page-nav'>
        <h4 class='nav-header'>Documentation</h4>
        {{#each pages as |page|}}
          <!-- Page -->
          <a href='{{page.attributes.url}}' class='nav-link page-link'>{{page.attributes.title}}</a>
        {{/each}}
      </div>
    {{/if}}

    <!-- API -->
    {{#if apis}}
      <div class='api-nav'>
        <h4 class='nav-header'>API Reference</h4>
        {{#each apis as |api|}}
          <!-- Module -->
          <a href='api/{{api.url}}' class='nav-link api-link'>
            <span class='api-nav-module-name'>{{api.name}}</span>
            <span class='api-nav-module-file'>{{api.path}}</span>
          </a>
        {{/each}}
      </div>
    {{/if}}
  </nav>
</header>
