---
layout: api
---
<div class='class'>
  <h1 class='name'>
    <%- include('/private-tag', { item: klass }) %>
    <%= klass.name %>
  </h1>

  <%- include('/defined-in-link', { item: klass}) %>

  <div class='package'><%= klass.package %></div>

  <%- include('/summary', { item: klass}) %>
  <%- include('/description', { item: klass}) %>

  <%- include('/children-visibility-controls') %>
  <%- include('/children-summary', { parent: klass }) %>
  <%- include('/children', { parent: klass }) %>

</div>
