---
layout: api
---
<div class='function'>
  <h1 class='name'>
    <%- include('/private-tag', { item: func }) %>
    <%= func.name %>
  </h1>

  <%- include('/defined-in-link', { item: func }) %>

  <div class='package'><%= func.package %></div>

  <%- include('/summary', { item: func}) %>
  <%- include('/description', { item: func}) %>

</div>

