---
layout: api
---
<div class='interface'>
  <h1 class='name'>
    <%- include('/private-tag', { item: interface }) %>
    <%= interface.name %>
  </h1>

  <%- include('/defined-in-link', { item: interface}) %>

  <div class='package'><%= interface.package %></div>

  <%- include('/summary', { item: interface}) %>
  <%- include('/description', { item: interface}) %>

  <%- include('/children-visibility-controls') %>
  <%- include('/children-summary', { parent: interface }) %>
  <%- include('/children', { parent: interface }) %>

</div>
