---
layout: api
---
<div class='module'>
  <h1 class='module-name'><%= mod.name %></h1>
  <% if (mod.description) { %>
    <div class='module-description'><%- markdown(mod.description) %></div>
  <% } %>

  <h2 class='module-classes-header'>Classes</h2>
  <% forIn(mod.classes, (klass, name) => { %>
    <div class='module-class-link'>
      <a href='<%= version.name %>/api/classes/<%= encodeURIComponent(name) %>'><%= name %></a>
    </div>
  <% }); %>
</div>
