---
layout: page
---

<div class='container'>
  <div class='row'>
    <div class='api-nav col-md-3'>
      <%- include('version-dropdown') %>
      <label class='private-classes-toggle'>
        <input type='checkbox' id='toggle-private-classes'>
        Include Private
      </label>
      <% forIn(version.data.modules, (moduleData, moduleName) => { %>
        <% if (moduleData.is_submodule) { %>
          <div class='nav-section'>
            <div class='nav-header'><%= moduleData.name %></div>
            <% forIn(moduleData.classes, (classData, className) => { %>
              <a class='nav-link <% if (locals.klass && locals.klass.name == className) { %>active<% } %>' href='<%= version.name %>/api/classes/<%= encodeURIComponent(className) %>' <% if (classData.access === 'private') { %>data-private-class=true<% } %>><%= className %></a>
            <% }) %>
          </div>
        <% } %>
      <% }) %>
    </div>
    <div class='api-body col-md-9'>
      <%- content %>
    </div>
  </div>
</div>

<script>
  $(function() {
    var $privateClassToggle = $('#toggle-private-classes');
    $privateClassToggle.on('change', function() {
      if ($privateClassToggle.is(':checked')) {
        $('.api-nav [data-private-class]').css('display', 'block');
      } else {
        $('.api-nav [data-private-class]').css('display', 'none');
      }
    });
    {% if page.class.access == 'private' %}
      $privateClassToggle.click();
    {% endif %}
  });
</script>
