---
layout: default
---
<script type='text/javascript'>
  var visibilityStatus;
  try {
    visibilityStatus = JSON.parse(localStorage.getItem('visibility-status'));
  } catch (e) {}
  if (!visibilityStatus) {
    visibilityStatus = {
      deprecated: true,
      private: false,
      inherited: false
    };
    localStorage.setItem('visibility-status', JSON.stringify(visibilityStatus));
  }

  generateVisibilityStyles();

  function generateVisibilityStyles() {
    var oldStyles = document.getElementById('visibility-styles');
    if (oldStyles) {
      oldStyles.remove();
    }
    var css = '';
    if (!visibilityStatus.deprecated) {
      css += '.deprecated-item { display: none !important; }';
    }
    if (!visibilityStatus.private) {
      css += '.private-item { display: none !important; }';
    }
    if (!visibilityStatus.inherited) {
      css += '.inherited-item { display: none !important; }';
    }
    var style = document.createElement('style');
    style.type = 'text/css';
    style.id = 'visibility-styles';
    style.appendChild(document.createTextNode(css));
    document.head.appendChild(style);
  }

  function toggleVisibility(name) {
    visibilityStatus[name] = !visibilityStatus[name];
    localStorage.setItem('visibility-status', JSON.stringify(visibilityStatus));
    generateVisibilityStyles();
  }

  window.toggleVisibility = toggleVisibility;
</script>
<%- include('/navbar') %>
<div class="docs">
  <div class="docs-nav">
    <%- include('/version-dropdown') %>
    <div class="nav">
      <% forIn(version.data.packages, (items, name) => { %>
        <div class="nav-header"><%= name %></div>
        <% items.forEach(({ item }) => { %>
          <a class="nav-link <%= visibilityClassesFor(item) %>" href="<%= urlForItem(item, version) %>"><%= item.name %></a>
        <% }) %>
      <% }) %>
    </div>
  </div>
  <div class="docs-body">
    <div class="docs-header">
      <h1 class="item-title">
        <% if (item.package) { %>
          <span class="item-package"><%= item.package %></span>
        <% } %>
        <%= item.name %><% if (item.signatures) { %><%= signatureFor(item) %><% } %>
      </h1>
      <a class="item-file" href="https://github.com/<%= repo %>/blob/<%= version.ref %>/<%= sourceFile(item) %>#L<%= sourceLine(item) %>"><%= sourceFile(item) %></a>
      <div class="item-type"><%= item.kindString %></div>
      <%- include('/private-tag', { item }) %>
      <%- include('/search') %>
      <%- include('/visibility-controls') %>
    </div>
    <div class="docs-main">
      <%- content %>
    </div>
  </div>
</div>